@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Dobrodošli na naš portal.</h1>
        <p>Molimo da odaberete jednu od sljedećih usluga: </p>
        <hr />
        <a asp-controller="Prijavitelj" asp-action="Create">Prijavi svoju građevinsku tvrtku za izgradnju kuća u Petrinji.</a>
        <hr />
        <a asp-controller="Prijavitelj" asp-action="Create">Prijavi svoju građevinsku tvrtku za izgradnju kuća u Glini.</a>
        <hr />
        <a asp-controller="Prijavitelj" asp-action="Create">Prijavi svoju građevinsku tvrtku za izgradnju kuća u Sisku.</a>
    </div>
